/* For mobile devices at 320px */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: 300;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 150px 750px 150px 900px 100px;

    margin: 0 auto;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navigation{
    grid-row: 1 / span 1;
    grid-column: 1 / span 12;
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #333;
}

.logo{
    width: 80px;
    justify-content: flex-start;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.nav li{
    font-size: 6pt;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav li:nth-child(-n+2){
    border-right: 1px solid #fff;
}

.nav li a{
    text-decoration: none;
    color: #fff;
    padding: 0 15px;

    transition: .3s ease-out;
}

.nav li a:hover{
    text-decoration: none;
    color: #FFD021;
    padding: 0 15px;

    transition: .3s ease-out;
}

.white-box{
    background: #fff;
    padding: 4px;
    border-radius: 10px;
}

#gray{
    text-decoration: none;
    font-size: 6pt;
    padding: 5px 10px;
    color: #333;
    justify-content: flex-end;
}

.header{
    grid-row: 2 / span 1;
    grid-column: 1 / span 12;
}

.features{
    grid-row: 3 / span 1;
    grid-column: 1 / span 12;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 40px;
}

h3{
    color: #048CC2;
    font-weight: 700;
}

i{
    color: #FF9C2B;
}

.feature-heading{
    padding: 10px 0 0 0;
}

.feature-content{
    font-size: 10pt;
    line-height: 18pt;
    padding: 10px 0 0 0;
}

.mission{
    grid-row: 4 / span 1;
    grid-column: 1 / span 12;
    background-image: url(https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission-header{
    font-size: 13pt;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.mission-footer{
    font-size: 11pt;
    color: #fff;
    font-weight: 400;
    padding: 10px;
}

.main-content{
    grid-row: 5 / span 1;
    grid-column: 1 / span 12;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 120px 160px 120px 160px 120px 160px 30px;
    margin: 0 auto;
}

.main-imgs{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.main-img-content{
    text-align: center;
    line-height: 18pt;
}

.first-content-img{
    grid-row: 2 / span 1;
    grid-column: 3 / span 8;
}

.first-content-para{
    grid-row: 3 / span 1;
    grid-column: 3 / span 8;
}

.second-content-img{
    grid-row: 4 / span 1;
    grid-column: 3 / span 8;
}

.second-content-para{
    grid-row: 5 / span 1;
    grid-column: 3 / span 8;
}

.third-content-img{
    grid-row: 6 / span 1;
    grid-column: 3 / span 8;
}

.third-content-para{
    grid-row: 7 / span 1;
    grid-column: 3 / span 8;
}

.footer{
    grid-row: 6 / span 1;
    grid-column: 1 / span 12;
    background: #FFD021;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.foot-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
}

.foot-nav li{
    font-size: 6pt;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.foot-nav li a{
    text-decoration: none;
    padding: 0 15px;
}


/* *********************** */
/* For mobile devices at 425px */
@media only screen and (min-width: 425px) {
    .feature-content{
        padding: 10px 30px;
    }

    .main-img-content{
        line-height: 20pt;
    }

    .mission-header{
        font-size: 16pt;
    }

    .foot-nav{
        flex-direction: row;
    }
    
    .foot-nav li{
        align-items: center;
        justify-content: space-around;
    }
}


/* *********************** */
/* For tablet devices at 768px */
@media only screen and (min-width: 768px) {
    .grid-container{
        grid-template-rows: 60px 250px 400px 250px 700px 100px;
    }

    .nav li{
        font-size: 8pt;
    }

    .features{
        grid-row: 3 / span 1;
        grid-column: 1 / span 12;

        flex-direction: row;
        justify-content: space-around;
    }

    .feature-content{
        padding: 10px 10px;
    }

    .centered{
        max-width: 250px;
    }

    .mission-header{
        font-size: 24pt;
    }

    .mission-footer{
        font-size: 16pt;
    }

    .main-content{
        grid-row: 5 / span 1;
        grid-column: 1 / span 12;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 125px 125px 125px 100px;
        max-width: 900px;
    }

    .main-imgs{
        width: 100%;
        height: 125px;
        object-fit: cover;
    }

    .main-img-content{
        text-align: center;
        font-size: 10pt;
        line-height: 16pt;
        padding: 18px;
    }
    
    .first-content-img{
        grid-row: 2 / span 1;
        grid-column: 3 / span 4;
    }
    
    .first-content-para{
        grid-row: 2 / span 1;
        grid-column: 7 / span 4;
    }
    
    .second-content-img{
        grid-row: 3 / span 1;
        grid-column: 7 / span 4;
    }
    
    .second-content-para{
        grid-row: 3 / span 1;
        grid-column: 3 / span 4;
    }
    
    .third-content-img{
        grid-row: 4 / span 1;
        grid-column: 3 / span 4;
    }
    
    .third-content-para{
        grid-row: 4 / span 1;
        grid-column: 7 / span 4;
    }

    .foot-nav{
        width: 900px;
    }
}


/* *********************** */
/* For desktop screens at 1024px */
@media only screen and (min-width: 1024px) {

    .features{
        margin: 0 50px;
    }

    .main-content{
        grid-template-rows: 100px 180px 180px 180px 100px;
    }

    .main-imgs{
        width: 100%;
        height: 180px;
    }

    .main-img-content{
        font-size: 14pt;
        line-height: 22pt;
        padding: 30px 40px;
    }

    .first-content-img{
        grid-row: 2 / span 1;
        grid-column: 2 / span 5;
    }
    
    .first-content-para{
        grid-row: 2 / span 1;
        grid-column: 7 / span 5;
    }
    
    .second-content-img{
        grid-row: 3 / span 1;
        grid-column: 7 / span 5;
    }
    
    .second-content-para{
        grid-row: 3 / span 1;
        grid-column: 2 / span 5;
    }
    
    .third-content-img{
        grid-row: 4 / span 1;
        grid-column: 2 / span 5;
    }
    
    .third-content-para{
        grid-row: 4 / span 1;
        grid-column: 7 / span 5;
    }

    .foot-nav{
        justify-content: space-around;
    }
}